:root {
    --base-size: calc(16px + 0.125vh);
    --type-scale: 1.2;

    --h5: calc(var(--base-size) * var(--type-scale));
    --h4: calc(var(--h5) * var(--type-scale));
    --h3: calc(var(--h4) * var(--type-scale));
    --h2: calc(var(--h3) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));
    --small: calc(var(--base-size) / var(--type-scale));
    --small-xs: calc(var(--small) / var(--type-scale));

    --primary-dark-color: #543864;
    --primary-light-color: #dfdbe5;
    --secondary-color: #e43f5a;
    --font-dark-color: #1a1c20;
    --font-gray-color: #4c4c4c;
    --font-light-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font--color);
    background-color: var(--primary-light-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23543864' fill-opacity='0.25' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-dark-color);
}

h5 {
    font-size: var(--h5);
}
h4 {
    font-size: var(--h4);
}
h3 {
    font-size: var(--h3);
    font-weight: 550;
}
h2 {
    font-size: var(--h2);
    font-weight: 600;
}
h1 {
    font-size: var(--h1);
    font-weight: 650;
}

p {
    font-size: var(--base-size);
}

small {
    font-size: var(--small);
}

.btn {
    color: var(--font-light-color);
    background-color: var(--primary-dark-color);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    border-radius: 4rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.custom-tooltip {
    position: relative;
    top: 0;
}

.custom-tooltip::before {
    display: none;
    content: attr(data-text);
    position: absolute;
    top: 50px;
    transform:translateX(-55%);
    background-color: black;
    color: var(--font-light-color);
    font-size: var(--small-xs);
    width: 100px;
    padding: 3px 5px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

.custom-tooltip:hover::before {
    display: block;
}  

.error-message {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.error-message::before {
    content: "\26A0";
    color: var(--secondary-color);
    margin-right: 5px;
}