.navbar {
    background-color: var(--primary-dark-color);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.auth-buttons,
.my-account {
    margin-left: auto;
}

.auth-buttons button {
    background-color: transparent;
    margin-right: 15px;
    border: 1px solid var(--font-light-color);
}
