.loader-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    overflow: hidden;
    position: absolute;
}

.loader {
    margin: auto;
    width: 100px;
    height: 100px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .loader {
        width: 60px;
        height: 60px;
    }
}
