.login-form-container {
    margin-top: 4.25rem;
    background-color: var(--primary-light-color);
    padding: 1.5rem;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.login-form-container a {
    color: var(--primary-dark-color);
    text-decoration: underline;
}