.signup-form-container {
    margin-top: 4rem;
    background-color: var(--primary-light-color);
    padding: 1.5rem;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.error-message {
    text-align: center;
    margin-top: 20px;
}

.error-message p {
    margin: 0 0 10px 0px;
    padding: 5px;
    border-radius: 5px;
}
