.blog-show {
    margin: 2rem 1rem;
    background-color: var(--primary-light-color);
    padding: 1.5rem;
    padding-bottom: 0.75rem;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.4);
}

.blog-show .blog-body {
    margin-bottom: 2rem;
}

.blog-show .blog-text p {
    color: var(--font-gray-color);
}

.blog-show .blog-meta {
    margin-top: 20px;
    font-size: 0.85rem;
    color: var(--font-dark-color);
    text-transform: capitalize;
}

.blog-show .blog-footer span {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .blog-show {
        margin: 1rem 0;
    }
}