.card {
    background-color: var(--primary-light-color);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.25rem;
}

.card-body {
    padding: 10px 1rem;
}
.card-title a {
    color: var(--primary-dark-color);
}

.card-text {
    color: var(--font-dark-color);
    margin-bottom: 0.675rem;
}

a,
a:hover {
    text-decoration: none;
    color: var(--font-dark-color);
}

.meta-data i {
    cursor: pointer;
    font-size: 1rem;
    color: var(--primary-dark-color);
}

.meta-data {
    font-size: var(--small);
}

/* Menu */
.card .menu {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 5px;
    margin-left: 10px;
    color: var(--primary-dark-color);
}

.card .menu .dropdown-toggle::before {
    visibility: hidden;
}

@media only screen and (max-width: 575px) {
    .meta-data div:nth-child(2) {
        text-align: center;
        margin-top: 0.25rem;
    }
}
