.card {
    background-color: var(--primary-light-color);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.25rem;
}

a,
a:hover {
    text-decoration: none;
    color: var(--font-light-color);
}

.meta-data,
.meta-data a {
    font-size: 0.85rem;
    text-transform: capitalize;
}
