.user-tile img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.user-tile .media-body small {
    font-size: var(--small-xs);
    color: var(--font-gray-color);
}

.user-tile .media-body p {
    margin-bottom: 5px;
    font-size: var(--small);
}

.user-tile p a {
    color: var(--primary-dark-color);
    font-weight: 600;
}
