.card {
    background-color: #363062;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.25rem;
}

a, a:hover {
    text-decoration: none;
    color: #f8f8f8;
}

.date {
    color: #f4f4f4;
    font-size: 0.85rem;
}