.signup-form-container {
    margin-top: 2rem;
}

.signup-form {
    margin-top: 1rem;
}

.signup-form button {
    color: #f8f8f8;
    background-color: #543864;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.signup-welcome {
    text-align: center;
}